	$facebook-x: 0px;
	$facebook-y: 0px;
	$facebook-offset-x: 0px;
	$facebook-offset-y: 0px;
	$facebook-width: 32px;
	$facebook-height: 32px;
	$facebook-total-width: 32px;
	$facebook-total-height: 96px;
	$facebook-image: '../img/spritebase.png';
	$facebook: 0px 0px 0px 0px 32px 32px 32px 96px '../img/spritebase.png';
	$twitter-x: 0px;
	$twitter-y: 32px;
	$twitter-offset-x: 0px;
	$twitter-offset-y: -32px;
	$twitter-width: 32px;
	$twitter-height: 32px;
	$twitter-total-width: 32px;
	$twitter-total-height: 96px;
	$twitter-image: '../img/spritebase.png';
	$twitter: 0px 32px 0px -32px 32px 32px 32px 96px '../img/spritebase.png';
	$youtube-x: 0px;
	$youtube-y: 64px;
	$youtube-offset-x: 0px;
	$youtube-offset-y: -64px;
	$youtube-width: 32px;
	$youtube-height: 32px;
	$youtube-total-width: 32px;
	$youtube-total-height: 96px;
	$youtube-image: '../img/spritebase.png';
	$youtube: 0px 64px 0px -64px 32px 32px 32px 96px '../img/spritebase.png';

	@mixin sprite-width($sprite) {
		width: nth($sprite, 5);
	}
	@mixin sprite-height($sprite) {
		height: nth($sprite, 6);
	}
	@mixin sprite-position($sprite) {
		$sprite-offset-x: nth($sprite, 3);
		$sprite-offset-y: nth($sprite, 4);
		background-position: $sprite-offset-x $sprite-offset-y;
	}
	@mixin sprite-image($sprite) {
		$sprite-image: nth($sprite, 9);
		background-image: url(#{$sprite-image});
	}
	@mixin sprite($sprite) {
		@include sprite-image($sprite);
		@include sprite-position($sprite);
		@include sprite-width($sprite);
		@include sprite-height($sprite);
	}
	$img: true !default;
	@mixin s($sprite, $img: false) {
		@if $img{
			@include sprite-image($sprite);
			@include sprite-position($sprite);
			@include sprite-width($sprite);
			@include sprite-height($sprite);
		}
		@else{
			@include sprite-position($sprite);
			@include sprite-width($sprite);
			@include sprite-height($sprite);
		}
	}
